@import '../../styles/mixins.scss';

.catalog-page {
  &__main {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
  }

  &__breadcrumbs {
    display: flex;
    margin-top: -22px;
  }

  &__breadcrumbs-link {
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
    margin-right: 21px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &--current {
      border-bottom: none;
    }
  }

  &__breadcrumb {
    &:not(:last-child) {
      position: relative;

      @include defaultHover;

      &::before {
        position: absolute;
        content: '»';
        right: 4px;
        width: 10px;
        height: 10px;
        color: #ffffff;
      }
    }
  }

  &__title {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.17;
    color: #fff;
    margin-top: 2px;
  }

  &__pagination {
    display: flex;
    align-self: flex-end;
    height: 26px;
    align-items: center;
  }

  &__pagination-list {
    display: flex;
  }

  &__pagination-btn {
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    font-size: 16px;
    margin-right: 1px;
    margin-left: 1px;

    &--current {
      border-radius: 50%;
      background-color: #ffffff;
      color: #000000;
    }
  }

  &__btn {
    width: 8px;
    padding: 0;
    border: none;
    height: 12px;
    background-color: transparent;
    cursor: pointer;

    &--prev {
      background-image: url('../../images/prev-arrow-icon.png');
      margin-right: 18px;
    }

    &--next {
      background-image: url('../../images/next-arrow-icon.png');
      margin-left: 18px;
    }

    &:disabled {
      opacity: 0.2;
    }
  }
}
