@import '../../styles/variables.scss';

.main-page {
  &__container {
    width: 1145px;
    margin: 0 auto;
    padding-top: 10px;
  }

  &__wrapper {
    &--1 {
      background-color: $mainBackgroundColor1;
    }

    &--2 {
      background-color: $mainBackgroundColor2;
    }

    &--3 {
      background-color: $mainBackgroundColor3;
    }
  }

  &__columns-wrapper {
    display: flex;
  }
}
