.main-page {
  &__container {
    width: 1250px;
    margin: 0 auto;
    padding-top: 10px;
  }

  &__wrapper {
    &--1 {
      background-color: #849d8f;
    }

    &--2 {
      background-color: #8996a6;
    }

    &--3 {
      background-color: #9d8b84;
    }
  }
}
