@import '../../styles/mixins.scss';

.header {
  padding-top: 10px;

  &__nav-link {
    font-weight: 700;
    color: #ffffff;
    line-height: 1.13;
    position: relative;
    padding: 7px 14px;

    &:hover,
    &:focus {
      background-color: #f7f6f3;
      border-radius: 25px;
      color: black;
    }

    &:active {
      box-shadow: inset 0px 2px 1px 0 #696969;
      background-color: #ededed;
    }

    &::before {
      content: "";
      position: absolute;
      right: 13px;
      left: 13px;
      background-color: rgba(255, 255, 255, 0.2);
      height: 1px;
      bottom: 7px;
    }

    &--current {
      background-color: #d07058;
      border-radius: 25px;

      &::before {
        display: none;
      }
    }
  }

  &__nav-item {
    position: relative;
  }

  &__login-link,
  &__cart-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #ffffff;
    display: inline-block;
    background-color: #9db1a5;
    border-radius: 25px;
    text-align: center;
    position: relative;

    &:hover,
    &:focus {
      background-color: #ffffff;
      color: #000000;
    }

    &:active {
      box-shadow: inset 0px 2px 1px 0 #696969;
      background-color: #ededed;
    }

    &::before {
      content: '';
      position: absolute;
      width: 21px;
      height: 20px;
      top: 6px;
    }
  }

  &__login-link {
    width: 93px;
    height: 32px;
    vertical-align: top;
    margin-right: 8px;
    padding-left: 25px;
    padding-top: 8px;

    &:hover,
    &:focus {
      &::before {
        background-image: url('../../images/login-icon-hover.png');
      }
    }

    &::before {
      background-image: url('../../images/login-icon.png');
      left: 17px;
    }
  }

  &__cart-link {
    width: 117px;
    height: 32px;
    padding-left: 44px;
    padding-top: 8px;
    text-align: left;

    &:hover,
    &:focus {
      &::before {
        background-image: url('../../images/cart-icon-hover.png');
      }
    }

    &::before {
      background-image: url('../../images/cart-icon.png');
      left: 18px;
    }

    &--filled {
      background-color: #ffffff;
      color: #000000;

      &::before {
        background-image: url('../../images/cart-icon-hover.png');
      }
    }
  }

  &__time {
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
  }

  &__phone {
    font-size: 22px;
    line-height: 1.09;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
  }

  &__logo-link {
    height: 62px;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }

  &__logo {
    width: 154px;
    height: 62px;
  }

  &__nav {
    display: grid;
    grid-template-columns: 154px 1fr 263px;
  }

  &__nav-links {
    display: flex;
    padding-top: 17px;
    padding-left: 9px;
    align-items: flex-start;
  }

  &__cart-links {
    display: flex;
    margin-top: 13px;
    position: relative;
  }

  &__cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  &__search-btn {
    width: 33px;
    height: 33px;
    background-color: #9db1a5;
    border-radius: 50%;
    border: none;
    margin-top: 13px;
    background-image: url('../../images/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;

    &:hover,
    &:focus {
      background-image: url('../../images/search-icon-hover.png');
      background-color: #ffffff;
    }

    &:active {
      box-shadow: inset 0px 2px 1px 0 #696969;
      background-color: #ededed;
    }
  }

  &__time,
  &__phone {
    text-align: right;
  }

  &__time {
    margin-top: 18px;
  }

  &__phone {
    margin-top: 3px;
  }
}
