.promotionItem {
  &__title {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.17;
    color: #ffffff;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #ffffff;
  }
}
