@import '../../styles/mixins.scss';

.sorting-filter {
  margin-right: 14px;

  &__title {
    font-size: 14px;
    font-weight: 500;
    padding-left: 17px;
    line-height: 1.14;
    color: #ffffff;
  }

  &__dropdown {
    position: absolute;
    z-index: 2;
    top: 42px;
    width: 194px;
    left: 0;
    border-radius: 20px;
    background-color: #9db1a5;
  }

  &__container {
    font-weight: 500;
    line-height: 1.13;
    background-color: #9db1a5;
    padding: 11px 14px;
    color: #ffffff;
    border-radius: 20px;
    position: relative;
    width: 194px;
    margin-top: 6px;
    height: 37px;
  }

  &__btn {
    position: absolute;
    top: 13px;
    right: 14px;
    width: 11px;
    height: 10px;
    background-image: url('../../images/sort-arrow-icon.png');
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      background-image: url('../../images/sort-arrow-icon-hover.png');

      &+span {
        color: #000000;
      }
    }

    &--up {
      transform: rotate(180deg);
    }
  }

  &__dropdown-btn {
    font: inherit;
    width: 100%;
    padding: 10px;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;

    &:hover,
    &:focus {
      color: #000000;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
