@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.news {
  width: 50%;
  padding: 23px 20px;
  background-image: url('../../images/news-background.png');
  width: 560px;
  min-height: 220px;

  &__title {
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__link {
    font-size: 24px;
    font-weight: bold;
    width: 281px;
    display: inline-block;
    text-decoration: underline;
    line-height: 1.25;
    color: $mainTextColor;

    @include defaultHover;
  }
}
