.subscription-form {
  width: 560px;
  background-color: #f8f7f4;
  border-radius: 10px;
  background-image: url('../../images/subscription-form-background.png');
  padding: 34px 27px;

  &__text {
    color: #5a5a5a;
    margin-bottom: 35px;
  }

  &__input.input {
    width: 368px;
    padding: 11px 14px;
    font-size: 14px;

    &::placeholder {
      color: #999999;
      font-family: 'Roboto',
        'Arial',
        sans-serif;
      ;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__button.button {
    padding-right: 18px;
    padding-left: 18px;
  }
}
