.assortmentItem {
  &__price {
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
  }

  &__unit {
    font-size: 26px;
  }

  &__text {
    font-weight: 500;
    color: #ffffff;
  }
}
